[data-theme="dark"] {
	--bg: #111;
	--nav-bg: #081838;
	--nav-bg-hover: #137;
	--nav-selected-border: #08e;
	--text-color: #ddd;
	--deemphasized-color: #888;
	--correct-color: #8e8;
	--error-color: #d33;
	--secondary-bg: #1f1f1f;
	--tertiary-bg: #292929;
	--link-color: #ace;
	--visited-color: #dae;
	--input-bg: #1d1d1d;
	--border-color: #555;
	--active-shadow-color: #9cf;

	--by-author-color: #1c0000;
	--testsolve-color: #001800;
}
