[data-theme="flamewyrm"] {
	--bg: #f9f4f4;
	--nav-color: #ddd;
	--nav-deemphasized-color: #999;
	--nav-bg: #700;
	--nav-bg-hover: #900;
	--nav-selected-border: #f99;
	--text-color: #000;
	--deemphasized-color: #777;
	--correct-color: #080;
	--error-color: #b11;
	--secondary-bg: #f2eaea;
	--tertiary-bg: #eae0e0;
	--link-color: #a00;
	--visited-color: #703;
	--nav-link-color: #fdd;
	--nav-visited-color: #fcd;
	--input-bg: #fff9f9;
	--border-color: #966;
	--active-shadow-color: #fa4;

	--by-author-color: #f8e8e5;
	--testsolve-color: #e9f3e9;
}
