[data-theme="jellybeans"] {
	--bg: #151515;
	--nav-bg: #1c1c1c;
	--nav-bg-hover: #245;
	--nav-selected-border: #0d61ac;
	--text-color: #e8e8d3;
	--deemphasized-color: #606060;
	--correct-color: #65c254;
	--error-color: #cf6a4c;
	--secondary-bg: #1f1f1f;
	--tertiary-bg: #384048;
	--link-color: #80a0ff;
	--visited-color: #c6b6ee;
	--input-bg: #1c1c1c;
	--border-color: #555;
	--active-shadow-color: #8fbfdc;

	--by-author-color: #180005;
	--testsolve-color: #0b1602;
}
