[data-theme="neopets"] {
	--bg: #fff;
	--nav-bg: #ffecab;
	--nav-bg-hover: #ffd026;
	--nav-selected-border: #faa819;
	--text-color: #000;
	--deemphasized-color: #777;
	--correct-color: #080;
	--error-color: #b00;
	--secondary-bg: #f2f2f2;
	--tertiary-bg: #ddd;
	--link-color: #258;
	--visited-color: #38a;
	--input-bg: #fffff2;
	--border-color: #faa819;
	--active-shadow-color: #faa819;
}
