[data-theme="solarized"] {
	--bg: #002b36;
	--nav-bg: #073642;
	--nav-bg-hover: #002b36;
	--nav-selected-border: #2aa198;
	--text-color: #839496;
	--deemphasized-color: #586375;
	--correct-color: #859900;
	--error-color: #dc322f;
	--secondary-bg: #073642;
	--tertiary-bg: #114550;
	--link-color: #268bd2;
	--visited-color: #6c71c4;
	--input-bg: #073642;
	--border-color: #586375;
	--active-shadow-color: #2aa198;

	--by-author-color: #1e0803;
	--testsolve-color: #192500;
}
