<h2 id="howtorunatestsolvingsession" class="title is-3">Participating in a Testsolving Session</h2>

<ol>
  <li>(Optional) React to the weekly availability post to be pinged when the availability thread for that day is up.</li>
  <li>Give your availability for the day in the thread. A testsolving admin will start you on a session, often in a group.</li>
  <li>Your testsolving admin will give you specific instructions, but generally at this point, solve the puzzle as you would during a hunt. You will have a thread, voice chat, and sheet with your co-solvers.</li>
  <li>If you stop and plan to reconvene, provide intermediate feedback!</li>
  <li>If you are no longer having fun, you can stop, but please let your testsolving admin know and provide feedback.</li>
  <li>Once you have finished the session (hopefully by solving the puzzle), leave your final set of feedback.</li>
</ol>

<p>Bella has written a <a href="https://docs.google.com/document/d/1zf4jPA94-Klhmw7wBx7BjkeYV9k3ZpOtODEDvb4k56A/edit">guide on providing effective feedback</a>.
