<h2 id="so-you-want-to-write-a-puzzle-yay">So you want to write a puzzle… (yay!)</h2>

<ol type="1">
  <li> Read our <a href="https://docs.google.com/document/d/1uuS6Gj7tIe2qr_Nd1Gq_Xh6mSyAx7Qi_3bQMD04qemc/edit?usp=sharing">Expectations for Authors (and Editors)</a>.
  </li>
  <li> Learn about the <a href="https://docs.google.com/document/d/1Wo4_iRIb0nBEAfg9LmBLwuwO-EY-SHYKopeIPSh03O8/edit#heading=h.x3hos8pcfvfx">lifecycle of a puzzle</a>.
  </li>
  <li>Create a PuzzUp entry for your idea by clicking &quot;+ Add&quot; above.
    <ul>
      <li>The entry can be created at various levels of refinement. You may have just the seed of an idea, a proof of concept, or even a rough draft. </li>
      <li>Under “Answer &amp; Round requests”, state what answer constraints your puzzle has and what round you’d prefer it to go in (if applicable). Editors will do their best to honor these constraints and reach out to you if they can’t be satisfied.</li>
    </ul>
  </li>
  <li>
    Work with your editors to design, write, test, and finalize the puzzle. For more details about the process, see our <a href="https://docs.google.com/document/d/1Wo4_iRIb0nBEAfg9LmBLwuwO-EY-SHYKopeIPSh03O8/edit#heading=h.x3hos8pcfvfx">lifecycle of a puzzle</a> guide.
  </li>
</ol>
