{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block main %}

  <div class="content">
    <p>You can also <a href="{% url 'account' %}">edit your account info</a>.
    </div>
    <form id="change-password" action='.' method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {% for field in form %}
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">
              {{ field.label }}
            </label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">{{ field }}</p>
              <div class="help content">{{ field.help_text }}</div>
            </div>
          </div>
        </div>
      {% endfor %}

      <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
{% endblock %}
