{% extends "base.html" %}
{% load puzzle_list %}

{% block title %}All Puzzles{% endblock %}

{% block main %}
    <h1>All Puzzles</h1>

    <div class="card block">
        <div class="card-content">
            <div class="content">
                <!-- Editor list minus editors -->
                {% puzzle_list puzzles request.user show_emoji=True show_status_text=True show_id=True show_title=True show_private_notes=True show_editors=False show_last_update=True show_last_comment=True show_meta=True %}
            </div>
        </div>
    </div>
{% endblock %}
