{% extends "base.html" %}

{% block bodyclass %}awaiting-editor{% endblock %}

{% block title %}Editors-In-Chief inbox{% endblock %}

{% block main %}

    <p>🚨 SPOILERS BELOW</p>

    <h2>🤷🏽‍♀️ Awaiting Answer Assignment</h2>
    {% include "puzzle_list_presets/editor_inbox_puzzle_list.html" with user=request.user puzzles=awaiting_answer %}

    <h2>⏳ Puzzle Written, Waiting for Round</h2>
    {% include "puzzle_list_presets/editor_inbox_puzzle_list.html" with user=request.user puzzles=awaiting_answer_flexible %}

    <h2>🥚 Needs editors</h2>
    {% include "puzzle_list_presets/editor_inbox_puzzle_list.html" with user=request.user puzzles=initial_idea %}

{% endblock %}
