{% extends "base.html" %}
{% load name_list %}
{% load markdown %}

{% block bodyclass %}eic{% endblock %}

{% block title %}All Puzzles{% endblock %}

{% block main %}
    <h1>All Puzzles by Status</h1>

    {% for status, puzzle_group in puzzles %}
        <div class="box">
            <h4>
                <label><input type="checkbox" class="collapse"{% if status in hidden %} checked{% endif %}></label>
                {{ puzzle_group.0.get_status_display }}
                [{{ puzzle_group|length }} puzzle{{ puzzle_group|length|pluralize }}]
            </h4>
            <div class='table-container'>
                <table class="table is-striped classic sortable">
                    <tr align="left">
                        <th>ID/Name</th>
                        <th>Authors</th>
                        <th>Priority</th>
                        <th>Updated</th>
                        <th>Meta</th>
                    </tr>
                    {% for puzzle in puzzle_group %}
                        <tr>
                            <td sorttable_customkey="{{ puzzle.id }}">{{ puzzle.id }}: {{ puzzle.html_link_no_tags }}</td>
                            <td>{% for author in puzzle.authors.all %}{{ author }}{{ forloop.last|yesno:",&#44; "|safe }}{% endfor %}</td>
                            <td sorttable_customkey="{{ puzzle.priority }}"><span class="tag">{{ puzzle.get_priority_display }}</span></td>
                            <td sorttable_customkey="{{ puzzle.last_updated.timestamp }}" class="timestamp">{{ puzzle.last_updated|timesince }} ago</td>
                            <td>{% if puzzle.is_meta %}✔{% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}
