{% extends "base.html" %}
{% load puzzle_list %}

{% block title %}Factchecking{% endblock %}

{% block main %}

    <h1 class="title">
        Factchecking
    </h1>

    <div class="box">
        <h2>
            Puzzles you are factchecking
        </h2>

        {% include "puzzle_list_presets/editor_inbox_puzzle_list.html" with user=request.user puzzles=factchecking %}
    </div>

    <div class="box">

        <h2>
            Puzzles that need factchecking
        </h2>

        {% include "puzzle_list_presets/editor_inbox_puzzle_list.html" with user=request.user puzzles=needs_factchecking %}
    </div>

    <h2>
        Puzzles that need fact-checking on final day
    </h2>
    {% include "puzzle_list_presets/editor_inbox_puzzle_list.html" with user=request.user puzzles=final_day_factchecking %}
    </div>

{% endblock %}
