{% extends "base.html" %}

{% block title %}Puzzle flavor & art{% endblock %}

{% block main %}

    <h1 class="title">
        Puzzle flavor & art
    </h1>

    <div class="box">
        <h2>
            Puzzles that need flavor approved
        </h2>

        {% include "puzzle_list_presets/flavor_puzzle_list.html" with user=request.user puzzles=needs_flavor_approved %}
    </div>

    <div class="box">

        <h2>
            Puzzles that are missing flavor
        </h2>

        {% include "puzzle_list_presets/flavor_puzzle_list.html" with user=request.user puzzles=needs_flavor %}
    </div>

    <div class="box">

        <h2>
            Puzzles that have flavor approved
        </h2>

        {% include "puzzle_list_presets/flavor_puzzle_list.html" with user=request.user puzzles=has_flavor_approved %}
    </div>

{% endblock %}
