{% extends "base.html" %}
{% load markdown %}

{% block title %}New Puzzle{% endblock %}

{% block main %}

    <h1 class="title">New Puzzle</h1>
    <p>
        <strong>Looking to submit a puzzle proposal?</strong> You found the
        right place! Fill out this form describing your idea, and when you
        submit, a page in Puzzup will be created for your puzzle. Your puzzle
        will be automatically put in the “Initial Idea” state for the EICs to
        review.
    </p>
    <p>Once you submit, PuzzUp will automatically create an associated channel in Discord.</p>
    <form action="{% url 'puzzle_new' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="columns">
                <div class="column is-one-third">
                    <label class="label">{{ field.label }}</label>
                    <p class="help">{{ field.help_text|markdown|safe }}</p>
                </div>
                <div class="column">
                    <div class="control">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="columns">
            <div class="column is-one-third">
            </div>
            <div class="column">
                <input class="button is-primary" type="submit" value="Submit">
            </div>
        </div>

    </form>
{% endblock %}
