{% extends "base.html" %}
{% block title %}
    Postprodding
{% endblock %}
{% block main %}
    <h1>
        Postprodding
    </h1>

    <p>
        <a href="{% url 'postprod_all' %}">View all in postprod pipeline</a>
    </p>

    <div class="box">
        <h2>
            Puzzles you are actively postprodding
        </h2>

        {% include "puzzle_list_presets/postprod_puzzle_list.html" with user=request.user puzzles=postprodding %}
    </div>

    <div class="box">
        <h2>
            Puzzles that need a postprodder
        </h2>

        {% include "puzzle_list_presets/postprod_puzzle_list.html" with user=request.user puzzles=needs_postprod %}
    </div>

{% endblock %}
