{% extends "base.html" %}

{% block title %}How To's{% endblock %}

{% block main %}
    <h1>How To's</h1>
    <div class="columns">
        <div class="column is-one-fifth">
            <a href="/process/getting-started">Getting Started</a><br>
            <a href="/process/writing">Writing</a><br>
            <a href="/process/status-glossary">Puzzle Status Glossary</a><br>
        </div>
        <div class="column">
            {% if doc == "getting-started" %}
                <div id="getting-started" class="box">
                    {% include "process/getting-started.html" %}
                </div>
            {% endif %}
            {% if doc == "writing" %}
                <div id="writing" class="box">
                    {% include "process/writing.html" %}
                </div>
            {% endif %}
            {% if doc == "status-glossary" %}
                <div id="status-glossary" class="box">
                    {% include "process/status-glossary.html" %}
                </div>
            {% endif %}
        </div>
        <div class="column is-2">
        </div>
    </div>
{% endblock %}
