{% extends "base.html" %}
{% load user_display %}
{% load user_list %}
{% load markdown %}
{% load comment_list %}
{% load logistics_info %}

{% block title %}{{ puzzle.spoiler_free_title }}{% endblock %}

{% block main %}
    <h1>
        {{ puzzle.id }}: {{ puzzle.spoiler_free_title }}
    </h1>

    <div class="columns">
        <div class="column is-half">
            <div class="box">
                <p>You are not yet spoiled on this puzzle! Do you want to be spoiled on it?</p>
                {% if role %}
                    <p><b>You currently have the <i>{{ role }}</i> role on this puzzle, so it's likely that you want to continue.</b></p>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <input class="button is-info" type="submit" name="do_spoil" value="Spoil me">
                </form>
                <form method="POST" action="{{ puzzle.get_absolute_url }}" id="self-buttons">
                    {% csrf_token %}
                    {% if perms.puzzle_editing.change_puzzlefactcheck %}
                        {% if not is_factchecker %}
                            <br>
                            <input type="submit" name="add_factchecker" value="Spoil me and add me as factchecker" class="button is-info">
                            <br>
                        {% endif %}
                    {% endif %}
                    {% if perms.puzzle_editing.change_puzzlepostprod %}
                        {% if not is_postprodder %}
                            <br>
                            <input type="submit" name="add_postprodder" value="Spoil me and add me as postprodder" class="button is-info">
                            <br>
                        {% endif %}
                    {% endif %}
                </form>
                <br>
                {% if TESTSOLVING_ALLOWED %}
                    {% if is_in_testsolving %}
                        <p>This puzzle is in <span class="tag">Testsolving</span>, so you can:</p>
                    {% else %}
                        <p>This puzzle is in <span class="tag">{{ status }}</span>, but if you really want to, you can:</p>
                    {% endif %}
                    <form method="POST" action="{% url 'testsolve_start' %}">
                        {% csrf_token %}
                        <button class="button is-info" type="submit" name="puzzle" value="{{ puzzle.id }}">
                            Start a new testsolving session
                        </button>
                    </form>
                    {% if testsolve_sessions %}
                        <br>
                        <p>You can also join an existing testsolve session:</p>
                        <table class="classic sortable">
                            <tr>
                                <th>Session</th>
                                <th>Participants</th>
                                <th>Ended</th>
                            </tr>
                            {% for session in testsolve_sessions %}
                                {% with session.puzzle as puzzle %}
                                    <tr>
                                        <td sorttable_customkey="{{ session.id }}"><a href="{% url 'testsolve_one' session.id %}">Session {{ session.id }}</a></td>
                                        <td>{% user_list session.participants %}</td>
                                        <td>{{ session.get_done_participants_display }}</td>
                                    </tr>
                                {% endwith %}
                            {% endfor %}
                        </table>
                    {% endif %}
                {% endif %}
            </div>

            <div class="box">
                <h2>People</h2>
                <div class="block">
                    <h5>Author{{ puzzle.authors.count|pluralize }}</h5>
                    <b>Lead:</b> {% user_display puzzle.lead_author linkify=True %}<br/>
                    {% user_list puzzle.authors linkify=True %}
                </div>
                <div class="block">
                    <h5>Editor{{ puzzle.editors.count|pluralize }}</h5>
                    {% user_list puzzle.editors %}
                </div>
                <div class="block">
                    <h5>Spoiled user{{ puzzle.spoiled.count|pluralize }}</h5>
                    {% user_list puzzle.spoiled %}
                </div>
                <div class="block">
                    <h5>Unspoiled user{{ unspoiled|pluralize }}</h5>
                    <p>{{ unspoiled|join:", " }}</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="box">
                <h2>Puzzle Info</h2>
                <h3>Summary</h3>
                {{ puzzle.summary|markdown }}
                {% if user.is_art_lead %}
                    <h3>Flavor</h3>
                    {{ puzzle.flavor|markdown }}
                    <form method="POST" id="change-flavor">
                        {% csrf_token %}
                        <input class="button is-small is-link" type="submit" name="{% if puzzle.flavor_approved_time %}un{% endif %}approve_flavor" value="{% if puzzle.flavor_approved_time %}Unapprove{% else %}Approve{% endif %}">
                    </form>
                {% endif %}
            </div>

            {% if logistics_info %}
                {% logistics_info logistics_info difficulty_form perms %}
            {% endif %}

            <i>(Since you are unspoiled, only comments made by you will show up below.)</i>
            <div class="block">
                {% comment_list request.user puzzle comments comment_form True False %}
            </div>
        </div>
    </div>
{% endblock %}
