{% extends "base.html" %}
{% load markdown %}

{% block title %}Tag: {{ tag.name }}{% endblock %}

{% block main %}
    <a href="{% url 'tags' %}">Back to all tags</a>

    <div class="block">
        <h1>Tag: {{ tag.name }}</h1>
        {{ tag.description|markdown }}
        <a href="{% url 'edit_tag' tag.id %}">Edit this tag</a>
    </div>

    <div class="box">
        <h2>{{ count_label }} tagged with {{ tag.name }}</h2>
        {% include "puzzle_list_presets/user_puzzle_list.html" with user=request.user puzzles=tag.puzzles.all %}
    </div>
{% endblock %}
