{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block outer_main %}

    <h1>All support requests</h1>
    <form method="GET">
        View:
        <input type="submit" class="button is-small" {% if team == "ALL" %}disabled{% endif %} name="team" value="ALL">
        <input type="submit" class="button is-small" {% if team == "ART" %}disabled{% endif %} name="team" value="ART">
        <input type="submit" class="button is-small" {% if team == "ACC" %}disabled{% endif %} name="team" value="ACC">
        <input type="submit" class="button is-small" {% if team == "FAB" %}disabled{% endif %} name="team" value="FAB">
        <input type="submit" class="button is-small" {% if team == "OPS" %}disabled{% endif %} name="team" value="OPS">
        <input type="submit" class="button is-small" {% if team == "TECH" %}disabled{% endif %} name="team" value="TECH">
    </form>

    <h2>New requests</h2>

    {% include "support_list.html" with requests=new_requests %}

    <h2>Triaged requests</h2>

    {% include "support_list.html" with requests=triaged_requests %}

    <h2>Closed requests</h2>

    {% include "support_list.html" with requests=closed_requests %}

    {% if hidden_count > 0 %}
        <p><i>Note: {{ hidden_count }} requests for unspoiled puzzles have been hidden.</i></p>
    {% else %}
        <p><i>All requests shown.</i></p>
    {% endif %}

{% endblock %}
