{% extends "base.html" %}
{% load puzzle_list %}
{% load markdown %}

{% block title %}Tags{% endblock %}

{% block main %}
  <h1 class="title is-2">Tags</h1>

  <div class="block">
    <a class="button is-link" href="{% url 'new_tag' %}">New tag</a>
  </div>

  <div class="box">
    <table class="table classic sortable">
      <tr align="left">
        <th>Name</th>
        <th>Puzzle #</th>
        <th>Description</th>
      </tr>
      {% for tag in tags %}
        <tr>
          <td><a href="{% url 'single_tag' tag.id %}">{{ tag.name }}</a></td>
          <td>{{ tag.count }}</td>
          <td class="content">{{ tag.description|markdown }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
