{% extends "base.html" %}
{% load humanize %}
{% load perm_tags %}
{% load markdown %}
{% load name_list %}
{% load tz %}
{% block title %}Users{% endblock %}

{% block main %}
    <h1>Users</h1>
    <p>👷 Lead&emsp;🟢 Active&emsp;👒 In Development&emsp;✏️  Writing&emsp;🤷🏽‍♀️  Awaiting Answer&emsp;🛑 Deferred&emsp;💀 Dead&emsp;🏁 Done</p>
    <div class="box">
        <div class="table-container">
            <table class="table sortable user-table">
                <thead>
                    <tr>
                        <th colspan="2">
                            <th colspan="8">Authored</th>
                            <th colspan="4">Editing</th>
                            <th colspan="2">Postprod</th>
                            <th colspan="4">Factcheck</th>
                            <th colspan="2">Testsolve</th>
                            <th colspan="2">Last Action</th>
                        </tr>
                        <tr class="is-size-7">
                            <th class="is-size-7">User</th>
                            <th class="is-size-7">Role</th>

                            <th class="left-border is-size-7">👷</th>
                            <th class="is-size-7 deemph">🟢</th>
                            <th class="is-size-7 deemph">👒</th>
                            <th class="is-size-7 deemph">✏️</th>
                            <th class="is-size-7 deemph">🤷🏽‍♀️</th>

                            <th class="is-size-7 deemph">🛑</th>
                            <th class="is-size-7 deemph">💀</th>
                            <th class="is-size-7 deemph">🏁</th>

                            <th class="left-border is-size-7">🟢</th>
                            <th class="is-size-7 deemph">🛑</th>
                            <th class="is-size-7 deemph">💀</th>
                            <th class="is-size-7 deemph">🏁</th>

                            <th class="left-border is-size-7">🟢</th>
                            <th class="is-size-7">🏁</th>

                            <th class="left-border is-size-7">🟢</th>
                            <th class="is-size-7 deemph">🛑</th>
                            <th class="is-size-7 deemph">💀</th>
                            <th class="is-size-7 deemph">🏁</th>

                            <th class="left-border is-size-7">🟢</th>
                            <th class="is-size-7">🏁</th>

                            <th class="left-border is-size-7">Time</th>
                            <th class="is-size-7">Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            {% if user.username != "admin" and user.username != "puzzup" %}
                                <tr>
                                    <td>
                                        {% if perms.puzzle_editing.list_puzzle %}
                                            <a href="{% url 'user' user.username %}">
                                                {{ user|display_name }}
                                            </a>
                                        {% else %}
                                            {{ user|display_name }}
                                        {% endif %}
                                    </td>
                                    <td>{{ user.hat }}</td>
                                    <td class="left-border" data-tippy-content="Puzzles lead authored by user">{{ user.authored_lead }}</td>
                                    <td class="deemph" data-tippy-content="Active puzzles authored by user">{{ user.authored_active }}</td>
                                    <td class="deemph" data-tippy-content="In development puzzles authored by user">{{ user.authored_in_development }}</td>
                                    <td class="deemph" data-tippy-content="Writing-stage puzzles authored by user">{{ user.authored_writing }}</td>
                                    <td class="deemph" data-tippy-content="Awaiting-answer-stage puzzles authored by user">{{ user.authored_awaiting_answer }}</td>
                                    <td class="deemph" data-tippy-content="Deferred puzzles authored by user">{{ user.authored_deferred }}</td>
                                    <td class="deemph" data-tippy-content="Dead puzzles authored by user">{{ user.authored_dead }}</td>
                                    <td class="deemph" data-tippy-content="Done puzzles authored by user">{{ user.authored_done }}</td>
                                    <td class="left-border" data-tippy-content="Active puzzles edited by user">{{ user.editing_active }}</td>
                                    <td class="deemph" data-tippy-content="Deferred puzzles edited by user">{{ user.editing_deferred }}</td>
                                    <td class="deemph" data-tippy-content="Dead puzzles edited by user">{{ user.editing_dead }}</td>
                                    <td class="deemph" data-tippy-content="Done puzzles edited by user">{{ user.editing_done }}</td>
                                    <td class="left-border" data-tippy-content="Active puzzles postprodded by user">{{ user.postprodding_active }}</td>
                                    <td class="deemph" data-tippy-content="Done puzzles postprodded by user">{{ user.postprodding_done }}</td>
                                    <td class="left-border" data-tippy-content="Active puzzles factchecked by user">{{ user.factchecking_active }}</td>
                                    <td class="deemph" data-tippy-content="Deferred puzzles factchecked by user">{{ user.factchecking_deferred }}</td>
                                    <td class="deemph" data-tippy-content="Dead puzzles factchecked by user">{{ user.factchecking_dead }}</td>
                                    <td class="deemph" data-tippy-content="Done puzzles factchecked by user">{{ user.factchecking_done }}</td>
                                    <td class="left-border" data-tippy-content="Puzzles currently being testsolved by user">{{ user.testsolving_in_progress }}</td>
                                    <td data-tippy-content="Puzzles previously testsolved by user">{{ user.testsolving_done }}</td>
                                    {% with user.last_comment.puzzle as puzzle %}
                                        <td class="left-border is-size-7 system" sorttable_customkey="{{ user.last_comment.date|date:"c" }}">
                                            {{ user.last_comment.date|naturaltime|default:"N/A" }}
                                        </td>
                                        <td class="is-size-7 system">
                                            {{ user.last_action }}
                                            {% if perms.puzzle_editing.list_puzzle %}
                                                <a href="{{ puzzle.puzzle_url }}#comment-{{ user.last_comment.id }}" class="puzzle-link">
                                            {% endif %}
                                            {{ puzzle.spoiler_free_name }}
                                            {% if perms.puzzle_editing.list_puzzle %}
                                                </a>
                                            {% endif %}
                                        </td>
                                    {% endwith %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% for user in users %}
            {% if user.username != "admin" and user.username != "puzzup" %}
                <div id="user-{{ user.username }}">
                    {% if perms.puzzle_editing.list_puzzle %}
                        <a href="{% url 'user' user.username %}">
                            <h4>{{ user }}</h4>
                        </a>
                    {% else %}
                        <h4>{{ user }}</h4>
                    {% endif %}
                    <ul>
                        <li>Username: {{ user.username }}</li>
                        {% if user.discord_username %}
                            <li>Discord: <code>@{{ user.discord_username }}</code> {% if user.discord_nickname %}(a.k.a. {{ user.discord_nickname }}){% endif %}
                            </li>
                        {% endif %}
                        {% if user.bio %}
                            <li>Bio:
                                {{ user.bio|markdown }}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
{% endblock %}
